.card-container{
    display: flex;
    justify-content: center;
    background-color: rgb(247, 107, 107);
    min-height: 350px;
    width: 270px;
    margin-right: 50px;
	margin-bottom: 50px;
    border-radius: 8px;
    font-weight:400;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image {
    background-color: white;
    height: 110px;
    width: 180px;
	border-radius: 6px;
}

p{

}
