.header-container {
    display: flex;

    justify-content: flex-end;
    
    margin-bottom: 60px;
    background-color:rgb(228, 74, 74);
}

.header-content {
    display: flex;
    height: 55px;
    align-items: center;
    color:white;
    justify-content: flex-end;
}

a {
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
}
